

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }

  .boardSide{
    margin: 0 100px;
  }

  #gameBoard{
    margin: 0 auto;
  }

  input {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    text-align: center;
    caret-color: transparent;
  }

  
  #turn {
    text-align: center;
    font-size: 1.5rem;
  }

  #scoreBoard {
    width: 100%;
  }

  #scoreBoard th {
    text-align: center;
  }

  #scoreBoard td {
    text-align: center;
  }
 
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }



    #gameBoard {
      width: 100%;
    }

    #scoreBoard {
      margin-top: 20px;
      width: 100%;
    }

    .boardSide{
      margin: 0;
    }
  }